<!DOCTYPE html>

<html>
    <head>
        <title> Spiderweb v1.0 ;) </title>
    </head>

    <body>
        <!-- Webdev is fucking hard. Dont judge me -->
        <p> You will need to pop an alert box in each level to win </p>
        <br><br>
        <p> Test your payload against the page. If it works, submit it! </p>
        <br><br>
        <a href="/level/1"> Level 1 </a>
        <br><br>
        <a href="/level/2"> Level 2 </a>
        <br><br>
        <a href="/level/3"> Level 3 </a>
        <br><br>
        <a href="/level/4"> Level 4 </a>
        <br><br>
        <a href="/level/5"> Level 5 </a>
    </body>
</html>
